@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #2F415D; /* Dark background as in the reference */
}

/* Custom Red Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #24334a;
}
::-webkit-scrollbar-thumb {
  background: #C70E17;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a60b13;
}

